<h1>Segue abaixo exemplo de como deverá ficar a página da sua pesquisa: </h1>
<h4>Siga os requisitos listados no README para desenvolver essa tarefa.</h4>
<hr>
  
<form class="my-5">
  <%= search_form_for @q do |f| %>
    <div class="form-group row">
      <div class="col-md-8">

        <%= f.label :name_cont %>
        <%= f.search_field :name_cont, class: "form-control form-control-lg", placeholder: "Pesquise por nome do autor, nome do livro ou editora" %>

      </div>
      <div class="col-md-2">
        <button type="submit" class="btn-lg btn-success">Pesquisar</button>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn-lg btn-default">Limpar</button>
      </div>
    </div>

    
  <% end %>
</form>


<table class="table mt-4">
  <thead>
    <tr>
      <th>Nome do livro</th>
      <th>Nome do autor</th>
      <th>Gênero</th>
      <th>Editora</th>
      <th>Valor (-10%)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.author.name %></td>
        <td><%= book.genre.name %></td>
        <td>Editora</td>
        <td>Valor (-10%)</td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>