<p id="notice"><%= notice %></p>

<p>
  <strong><%= t("views.authors.name")%>:</strong>
  <%= @author.name %>
</p>

<p>
  <strong><%= t("views.authors.biography")%>:</strong>
  <%= @author.biography %>
</p>
<p>
  Medium:
  <% if @author.avatar.present? %>
    <%= image_tag(@author.avatar_url(:thumb)) %>
  <% end %>
</p>

<%= link_to t("views.edit"), edit_author_path(@author) %> |
<%= link_to t("views.back"), authors_path %>

<br>
<hr>

<%if @author.books.any? %>
  <table class="table">
    <thead>
      <tr>
        <th><%= t("views.books.name") %></th>
        <th><%= t("views.genre.name") %></th>
      </tr>
    </thead>

    <tbody>
      <% @author.books.each do |book| %>
        <tr>
          <td><%= book.name %></td>
          <td><%= book.genre.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Nenhum livro para esse Autor</p>
<% end %>


