<%= form_with(model: book, local: true) do |form| %>
  <div class="field">
    <%= form.label :name, t("views.books.name") %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :author_id, t("views.books.author_id") %>
    <%= form.select :author_id, Author.all.collect {|p| [ p.name, p.id ] }, { include_blank: true } %>
  </div>

  <div class="field">
    <%= form.label :genre_id, t("views.books.genre_id")%>
    <%= form.select :genre_id, Genre.all.collect {|p| [ p.name, p.id ] }, { include_blank: true } %>
  </div>

  <div class="field">
    <%= form.label :value, t("views.books.value")%>
    <%= form.number_field_tag :value, nil, min: 0.1, max: 9999, step: 2
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
